{% comment %} include script/asset reference ; find code for ajaxinate.min.js via elkfox ajaxinate / MIT license {% endcomment %}
<script src="{{ 'ajaxinate.min.js' | asset_url }}" defer="defer"></script>

<script>
// Ajaxinate Scroll add inline or in script file
  document.addEventListener("DOMContentLoaded", function() {
  var endlessScroll = new Ajaxinate();
  });

</script>

{% comment %} 
Updated collection page, with correct varaibles and container for Mojave theme
Replace standard collection container with the following
{% endcomment %}      
  
<div class="collection container" id="AjaxinateContainer" >
        <div class="loading-overlay gradient"></div>
        <ul id="product-grid" data-id="{{ section.id }}" class="list-unstyled grid product-grid">
        {% for product in collection.products %}
          {%- liquid
                capture grid_class
                  if section.settings.products_per_row_mobile == '1'
                    echo ' grid__col--4'
                  else
                    echo ' grid__col--2'
                  endif
                  if section.settings.products_per_row_desktop == '2'
                    echo ' grid__col--lg-6'
                  elsif section.settings.products_per_row_desktop == '3'
                    echo ' grid__col--lg-4'
                  else
                    echo ' grid__col--lg-3'
                  endif
                endcapture
              -%}
              <li class="grid__item{{ grid_class }}">
                {%- render 'product-card', product_ref: product, context: section.id -%}
              </li>
        {% endfor %}
        </ul>
      </div>
  
      <div id="AjaxinatePagination">
        {%- if paginate.pages > 1 -%}
          <a href="{{ paginate.next.url }}">Load More</a>
        {% endif %}
      </div>
